html {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  margin: auto;
}

.question {
  background-color: #CBE32D;
  border-radius: 20px;
  width: 800px;
}

.question h3 {
  background-color: #005A31;
  border-radius: 20px 20px 0 0;
  color: #FFF;
  padding: 20px;
}

.answer {
  color: #000;
  margin: 0 0 30px 30px;
}





