html {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

.answer {
  color: #000;
  margin: 0 0 30px 30px;
}

.app {
  margin: auto;
}

.btn-submit {
  background-color: #005A31;
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.question {
  background-color: #CBE32D;
  border-radius: 20px;
  min-height: 150px;
  width: 768px;
}

.question h3 {
  background-color: #005A31;
  border-radius: 20px 20px 0 0;
  color: #FFF;
  padding: 20px;
}
